.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 12rem);
    flex-direction: column;

    h1{
        margin-bottom: 5rem
    }
}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}