.container {
    display: flex;
    justify-content: center;
    align-items: center;   
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Roboto', sans-serif;
    background-color: blue;
    width: 100vw;
    color: #fff;
    padding: 2rem;
    gap: 1rem;

    
    height: 10rem;
}